<a href="https://colab.research.google.com/github/ayuksekdag/pygrametl/blob/main/pygrametl.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



*https://chrthomsen.github.io/pygrametl/doc/quickstart/beginner.html

In [91]:
!pip install pygrametl
#!pip install sqlite3

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pygrametl in /usr/local/lib/python3.8/dist-packages (2.7)

In [92]:
import sqlite3

conn = sqlite3.connect('test.db')
cur  = conn.cursor()
cur.execute('create table if not exists product(product_id int, name string, category string, price int)')

conn.close()

In [93]:
#import sqlite3
import pygrametl
from pygrametl.tables import Dimension

# Input is a list of rows which in pygrametl is modeled as dicts
products = [{
    'name': 'Calvin and Hobbes 1',
    'category': 'Comic',
    'price': '10'
}, {
    'name': 'Calvin and Hobbes 2',
    'category': 'Comic',
    'price': '10'
}, {
    'name': 'Calvin and Hobbes 3',
    'category': 'Comic',
    'price': '10'
}, {
    'name': 'Cake and Me',
    'category': 'Cookbook',
    'price': '15'
}, {
    'name': 'French Cooking',
    'category': 'Cookbook',
    'price': '50'
}, {
    'name': 'Sushi',
    'category': 'Cookbook',
    'price': '30'
}, {
    'name': 'Nineteen Eighty-Four',
    'category': 'Novel',
    'price': '15'
}, {
    'name': 'The Lord of the Rings',
    'category': 'Novel',
    'price': '60'
}]

#print(products)

# The actual database connection is handled by a PEP 249 connection

pgconn = sqlite3.connect("test.db")

# This ContectionWrapper will be set as a default and is then implicitly
# used, but it is stored in conn so transactions can be committed and the
# connection closed
conn = pygrametl.ConnectionWrapper(connection=pgconn)

# The instance of Dimension connects to the table product in the
# database using the default connection wrapper created above, the
# argument lookupatts specifies the column which needs to match
# when doing a lookup for the key from this dimension
productDimension = Dimension(name='product',
                             key='product_id',
                             attributes=['name', 'category', 'price'],
                             lookupatts=['name'])

# Filling a dimension is simply done by using the insert method

#cur.execute('delete from product')

for row in products:
    productDimension.insert(row)
    print(row)

# Ensures that the data is committed and the connection is closed correctly
conn.commit()
conn.close()

{'name': 'Calvin and Hobbes 1', 'category': 'Comic', 'price': '10'}
{'name': 'Calvin and Hobbes 2', 'category': 'Comic', 'price': '10'}
{'name': 'Calvin and Hobbes 3', 'category': 'Comic', 'price': '10'}
{'name': 'Cake and Me', 'category': 'Cookbook', 'price': '15'}
{'name': 'French Cooking', 'category': 'Cookbook', 'price': '50'}
{'name': 'Sushi', 'category': 'Cookbook', 'price': '30'}
{'name': 'Nineteen Eighty-Four', 'category': 'Novel', 'price': '15'}
{'name': 'The Lord of the Rings', 'category': 'Novel', 'price': '60'}

In [94]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('test.db')
df = pd.read_sql_query("select product_id, name, category, price from product", conn)
conn.close()
df.head()

Empty DataFrame
Columns: [product_id, name, category, price]
Index: []

In [95]:
df2 = df.groupby(['category'])['price'].sum()